body {
    font-family: Arial, sans-serif;
}

button {
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
}

#editor {
    margin: 20px auto; /* Centered horizontally */
    padding: 100px; /* Adjusted padding */
    border: 2px solid #ccc;
    width: 800px; /* Adjusted width */
    height: 350px; /* Adjusted height */
}